@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  color-scheme: light;
}

input:not(:placeholder-shown) + label {
  @apply top-2.5 text-[1.2rem];
}

::-webkit-scrollbar {
  display: none;
}
.bg {
  background-image: url("./auth-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  /* background-size: 700px; */
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
    /* Start slightly above */
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* Moves to normal position */
  }
}

.fade-in-top {
  animation: fadeInTop 0.6s ease-in-out;
}

.list {
  display: grid;
  --grid-layout-gap: 2rem;
  --grid-column-count: 4;
  --grid-item--min-width: 28rem;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
  /*margin-block:var(--padding-lg)*/
}

.list-3 {
  display: grid;
  --grid-layout-gap: 2rem;
  --grid-column-count: 3;
  --grid-item--min-width: 28rem;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
  /*margin-block:var(--padding-lg)*/
}

.item {
  flex: 0 1 min(100%, 28rem);
  max-width: 40rem;
  margin-inline: auto;
}

.shadow-card {
  /*box-shadow: 0 0 25px -9px rgba(0, 0, 0, 0.5);*/
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.5);
}

:root {
  --rem: 10px;
  font-size: var(--rem);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}
@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-20% - 0.5rem));
    }
  }
  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);
  --font-primary: var(--font-primary);
  --color-primary-900: #6f1b00;
  --color-primary-800: #902400;
  --color-primary-700: #af3200;
  --color-primary-600: #cb4400;
  --color-primary-500: #e45b00;
  --color-primary-400: #f8751f;
  --color-primary-300: #ff914b;
  --color-primary-200: #ffaf79;
  --color-primary-100: #ffcfab;
  --color-primary-50: #ffefe2;
  --color-neutral-900: #454a53;
  --color-neutral-800: #5c636e;
  --color-neutral-700: #737c8a;
  --color-neutral-600: #8f96a1;
  --color-neutral-500: #abb0b9;
  --color-neutral-400: #c7cbd0;
  --color-neutral-300: #d5d8dc;
  --color-neutral-200: #e3e5e8;
  --color-neutral-100: #f1f2f3;
  --color-black-400: #0c0c0e;
  --color-black-300: #17191c;
  --color-black-200: #232529;
  --color-black-100: #2e3237;
  --color-deep-300: #17191c;
  --color-deep-200: #232529;
  --color-deep-100: #2e3237;
  --color-background: #f1f2f3;
  --color-black: #0d0d0d;
  --color-dark: #000000;
  --color-success: #349c2e;
  --color-failure: #de0028;
  --color-warning: #ea961c;
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
